colorama==0.3.7
email==4.0.2
logging==0.4.9.6
Pillow==6.2.2
pycrypto==2.6.1
https://download.lfd.uci.edu/pythonlibs/s2jqpv5t/cp27/pyHook-1.5.1-cp27-cp27m-win32.whl
pyreadline==2.1
requests==2.11.1
python-dateutil==1.5
py2exe-py2==0.6.9
pypiwin32==223
pyreadline==2.1
pywin32==227